<!-- START: partials/footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<!--script async src="client/js/messenger.js"></script-->
<script src='/dist/client.bundle.js'></script>


<div class="container-fluid p-0 m-0 w-100" style="background-color: #000;">
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <div class="d-flex justify-content-center">
                <!-- image  --->
                <picture>
                    <source media="(min-width: 1200px)" srcset="/client/img/covid-logo-lt-992.png" type="img/png">
                    <img src="/client/img/covid-logo-lt-992.png" alt="Logo for"
                         class="vc-logo "/>
                </picture>
            </div>
            <h2 class="text-white text-center">VS.Covid</h2>
            <p class="text-white text-center">Copyright 2021 - All Rights Reserved! </p>
        </div>
    </div>
</div>
</body> <!-- ./closes <body> from partials/base.ejs -->
</html> <!-- ./closes <html> from partials/base.ejs -->
<!-- END: partials/footer -->