<!-- START: partials/header -->
<div class="container-fluid p-0 m-0 w-100" >
    <div class="row p-0 m-0">
        <div class="col-12 col-md-3 p-0 m-0">
            <!-- image  --->
            <picture>
                <source media="(min-width: 1200px)" srcset="/client/img/covid-logo-lt-1920.png" type="img/png">
                <img src="/client/img/covid-logo-lt-992.png" alt="Logo for">
                class="vc-logo"/>
            </picture>
        </div>
        <!-- TODO: Refactor into alignment based on VW  -->
        <div class="col-12 col-md-9 p-0 m-0 text-center">
            <h2 class="pt-3">VS.Covid</h2>
            <p>Fight FAKE anti-vaxxer disinformation! Enter your name to play.</p>
        </div>
    </div>
</div>
<!-- END: partials/header -->